<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Chi Siamo </title>
</head>
<body>
  <nav>
    <h1 class="nav__logo"></h1>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../templates/index.html">Home</a>
        </li>
        <li class="nav__item">
          <span>Chi Siamo</span>
        </li>
        <li class="nav__item">
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li class="nav__item">
          <a href="../templates/trips.html">Viaggi</a>
        </li>
        <li class="nav__item">
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
        <li class="nav__item">
          <a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a>
        </li>
      </ul>
      
      <div class="nav__close">
        <span class="ri-close-line"></span>
      </div>
    </div>
    
    <div class="nav__toggle">
      <span class="ri-menu-line"></span>
    </div>
  </nav>

  <main>
    <h2>Chi Siamo</h2>
        <p>Benvenuti nella sezione "Chi Siamo" del nostro sito, dove vi presentiamo la nostra azienda e la nostra passione per offrire esperienze di viaggio straordinarie tra le principali città europee.</p>
        <p>Siamo una società di trasporti ferroviari impegnata nel collegare le metropoli europee, offrendo soluzioni di viaggio efficienti, confortevoli e sostenibili.</p>
        <dl>
          <dt>La Nostra Missione</dt>
            <dd>La nostra missione è facilitare i viaggi tra le maggiori città europee, offrendo connessioni rapide e sicure che consentano ai nostri passeggeri di esplorare nuovi luoghi e culture.</dd>
          <dt>La Nostra Esperienza</dt>
            <dd>Siamo orgogliosi di offrire un'esperienza di viaggio unica, dove la comodità, l'efficienza e l'ecosostenibilità si incontrano. Abbiamo contratti con le maggiori società di trasporti europee e ciò ci consente di avere a disposizione e di offrire ai nostri clienti i più moderni treni, progettati per offrire il massimo comfort, consentendo ai passeggeri di godere del viaggio nel massimo relax.</dd>
          <dt>Impegno Ambientale</dt>
            <dd>Siamo consapevoli dell'importanza della sostenibilità ambientale. Ci impegniamo a ridurre la nostra impronta ecologica, adottando pratiche e tecnologie che contribuiscano a preservare l'ambiente.</dd>
          <dt>Contattaci</dt>
            <dd>Per ulteriori informazioni sui nostri servizi o per richieste specifiche, non esitate a contattarci attraverso i moduli di assistenza disponibili nella sezione <a href="help.html">Help</a>. Siamo qui per garantire un viaggio straordinario!</dd>
        </dl>
</main>
  <footer>
    <p>Societa' Viaggi - <span lang="en">All rights reserved.</span></p>
  </footer>
</body>
</html>