<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Help </title>
</head>
<body>
  <header>
    <h1>Societa' Viaggi</h1>
  </header>
  <nav id="breadcrumb">
    <p>Ti trovi in: Help</p>
  </nav>
  <main>
    <h2>FAQ</h2>
    <dl>
        <dt>Domanda</dt>
            <dd>Risposta</dd>
        <dt>Domanda</dt>
            <dd>Risposta</dd>
        <dt>Domanda</dt>
            <dd>Risposta</dd>
        <dt>Domanda</dt>
            <dd>Risposta</dd>
    </dl>
    <h2>Moduli assistenza</h2>
  </main>
  <footer>
    <p>Societa' Viaggi - <span lang="en">All rights reserved.</span></p>
  </footer>
</body>
</html>