<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="../static/css/style.css">
  <script defer src="../static/js/main.js"></script>
  <title> Homepage </title>
</head>
<body>
  <nav>
    <h1 class="nav__logo"></h1>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <span>Home</span>
        </li>
        <li class="nav__item">
          <a href="../templates/about.html">Chi Siamo</a>
        </li>
        <li class="nav__item">
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li class="nav__item">
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
      </ul>
      
      <div class="nav__close">
        <span class="ri-close-line"></span>
      </div>
    </div>
    
    <div class="nav__toggle">
      <span class="ri-menu-line"></span>
    </div>
  </nav>
  <nav id="breadcrumb">
    <p>Ti trovi in: <span lang="en-US">Home</span></p>
  </nav>
  <main>
    <div class="container__search-bar">
      <h2>Viaggia </h2>
      <fieldset>
        <legend>Ricerca tratta ferroviaria</legend>

        <label for="from">Partenza</label>
        <input type="text" name="from" id="from">
        <label for="to">Arrivo</label>
        <input type="text" name="to" id="to">
        <label for="date">Data</label>
        <input type="datetime" name="date" id="date">
        <label for="seats">Passeggeri</label>
        <button id="subtract" disabled>-</button>
        <input type="number" name="seats" id="seats" placeholder="1" min="1" max="20">
        <button id="add">+</button>
      </fieldset>
    </div>
    <section class="container__news">
      <header class="container__news-header">
        <h2>COMUNICAZIONI</h2>
      </header>
      <article class="card__news">
        <time class="news__date" datetime="2024-04-12">
          <span class="date__day">12</span>
          <span class="date__month">Aprile 2024</span>
        </time>
        <div class="news__body">
          <h3 class="news__body-title">Soppressione tratta Padova - Bassano</h3>
          <p class="news__body-content">
            La tratta Padova - Bassano sarà soppressa, causa lavori alla linea ferroviaria, a partire dal giorno 
            <time datetime="2024-04-12">12 Aprile 2024</time> fino al giorno 
            <time datetime="2024-04-26">26 Aprile 2024</time>.
            Ci scusiamo per il disagio.
          </p>
        </div>
        <button></button>
      </article>
    </section>
    <section class="container__offers">
      <header class="container__offers-header">
        <h2>OFFERTE</h2>
      </header>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Con Carnet smart oltre il 60% di sconto</h3>
          <p class="offer__body-content">Scopri di più</p>
        </div>
      </a>
    </section>
  </main>
  
</body>
</html>