<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Offerte </title>
</head>
<body>
  <header>
    <h1>Societa' Viaggi</h1>
  </header>
  <nav>
    <a href="#"></a>
      <ul>
        <li><a href="../templates/index.html">Home</a></li>
        <li><a href="../templates/about.html">Chi Siamo</a></li>
        <li><span>Offerte</span></li>
        <li><a href="../templates/trips.html">Viaggi</a></li>
        <li><a href="../templates/subscriptions.html">Abbonamenti</a></li>
        <li><a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a></li>
      </ul>
  </nav>
  <nav id="breadcrumb">
    <p>Ti trovi in: Offerte</p>
  </nav>
  <main>
    <h2>Offerte</h2>
    <section class="container__offers">
      <header class="container__offers-header">
        <h3>Super Offerte</h3>
      </header>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Natale</h3>
          <p class="offer__body-content">Offriamo uno sconto del 10% nel periodo dal 23 al 27 dicembre 2023</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Cadodanno</h3>
          <p class="offer__body-content">Offriamo uno sconto del 10% nel periodo dal 30 dicembre 2023 al 2 gennaio 2023</p>
        </div>
      </a>
    </section>   
    <section class="container__offers">
      <header class="container__offers-header">
        <h3>Offerte Speciali</h3>
      </header>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Coppie</h3>
          <p class="offer__body-content">per coppie offriamo</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Giovani</h3>
          <p class="offer__body-content">per giovani offriamo</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Seniour</h3>
          <p class="offer__body-content">per seniour offriamo</p>
        </div>
      </a>
    </section> 
    <section class="container__offers">
      <header class="container__offers-header">
        <h3>Offerte per Famiglie e Gruppi</h3>
      </header>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Famiglie</h3>
          <p class="offer__body-content">per le famiglie offriamo</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Gruppi</h3>
          <p class="offer__body-content">per gruppi superiori alle 10 persone offriamo</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">Scuole</h3>
          <p class="offer__body-content">per le scuole offriamo</p>
        </div>
      </a>
    </section> 
    <section class="container__offers">
      <header class="container__offers-header">
        <h3>Carnet</h3>
      </header>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">5 viaggi</h3>
          <p class="offer__body-content">sconto del 10% su ogni viaggio</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">10 viaggi</h3>
          <p class="offer__body-content">sconto del 20% su ogni viaggio</p>
        </div>
      </a>
      <a class="card__offer" href="#">
        <div class="offer__body">
          <h3 class="offer__body-title">15 viaggi</h3>
          <p class="offer__body-content">sconto del 30% su ogni viaggio</p>
        </div>
      </a>
    </section> 
  </main>
  <footer>
    <p>Societa' Viaggi - <span lang="en">All rights reserved.</span></p>
  </footer>
</body>
</html>