<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Viaggi </title>
</head>
<body>
  <nav>
    <h1 class="nav__logo"></h1>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../templates/index.html">Home</a>
        </li>
        <li class="nav__item">
          <a href="../templates/about.html">Chi Siamo</a>
        </li>
        <li class="nav__item">
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li class="nav__item">
          <span>Viaggi</span>
        </li>
        <li class="nav__item">
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
        <li class="nav__item">
          <a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a>
        </li>
      </ul>
      
      <div class="nav__close">
        <span class="ri-close-line"></span>
      </div>
    </div>
    
    <div class="nav__toggle">
      <span class="ri-menu-line"></span>
    </div>
  </nav>
  
</body>
</html>