<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Viaggi </title>
</head>
<body>
  <nav>
    <h1 class="nav__logo"></h1>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../templates/index.html">Home</a>
        </li>
        <li class="nav__item">
          <a href="../templates/about.html">Chi Siamo</a>
        </li>
        <li class="nav__item">
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li class="nav__item">
          <span>Viaggi</span>
        </li>
        <li class="nav__item">
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
        <li class="nav__item">
          <a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a>
        </li>
      </ul>
      
      <div class="nav__close">
        <span class="ri-close-line"></span>
      </div>
    </div>
    
    <div class="nav__toggle">
      <span class="ri-menu-line"></span>
    </div>
  </nav>
  
  <!--in realtà si scriverà tutto con PHP-->
  <main>
    <article class="card__ticket">
      <div class="ticket__header">
        <dl class="ticket__header-details">
          <dt>Bassano</dt>
          <dd>10:40</dd>
          <dt>durata</dt>
          <dd>1 ora 38 min</dd>
          <dt>Vicenza</dt>
          <dd>12:18</dd>
        </dl>
      </div>
      <div class="ticket__body">
        <dl>
          <dt>Bassano</dt>
          <dd>10:40</dd>
          <dt>durata</dt>
          <dd>1 ora 38 min</dd>
          <dt>Vicenza</dt>
          <dd>12:18</dd>
        </dl>
        <div>
          <span></span>
          <ul>
            <li>Identificativo treno: rv4576</li>
            <li>Identificativo treno: r17190</li>
          </ul>
          <fieldset>
            <label for="scelta classe">Scegli la classe</label>
            <input type="radio" name="business" id="business"><label for="business class" lang="en">Business</label>
            <input type="radio" name="economy" id="economy" placeholder="economy" checked><label for="ecoomy class" lang="en">Economy</label>
          </fieldset>
        </div>
      </div>
      <div>
        <span>1 cambio</span>
        <button></button>
        <a href="">$7.50</a>
      </div>
    </article>
  </main>
</body>
</html>